<div fxLayout="column" fxLayoutAlign="space-around center">
  <h3> Add New Device</h3>
  <div fxLayout="column">
    <mat-form-field class="example-form-field">
      <mat-label for="name">Name</mat-label>
      <input matInput type="text" id="name" required [(ngModel)]="device.name" name="name" />
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label for="type">Type</mat-label>
      <input matInput type="text" id="type" required [(ngModel)]="device.type" name="type" />
    </mat-form-field>
    <button mat-button (click)="saveDevice()">Submit</button>
  </div>
</div>
