@import 'src/styles/colors';

.search{
  background-color: $color-link-water;
  height: 50px;
  margin: 0 10px;
  padding: 0 10px;
}

.div{
  position: relative;
}

span{
  position: absolute;
  margin-left: 5px;
  padding: 9px;
}

input{
  padding:5px 30px;
  width: 100%;
  margin: 5px;
}
