<app-search-device></app-search-device>

<div fxLayout="row">
  <app-device-list></app-device-list>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>


<!-- 
<div class="search">
  <div fxFill>
    <span class="material-icons small-icon">
      search
    </span>
    <input type="text" matInput placeholder="Search" />
  </div>
  <button mat-button>Cancel</button>
</div>

<div class="items">
  <div class="item">
    <div>
      <span class="material-icons">
        stay_current_portrait
      </span>
    </div>
    <div>
      <p>Device 1</p>
      <span>Status:Online</span>
    </div>
    <div>
      <span class="material-icons ">
        info
      </span>
    </div>
  </div>
  <div class="item">
    <div>
      <span class="material-icons">
        phone_iphone
      </span>
    </div>
    <div>
      <p>Device 2</p>
      <span>Status:Online</span>
    </div>
    <div>
      <span class="material-icons">
        info
      </span>
    </div>
  </div>
  <div class="item">
    <div>
      <span class="material-icons">
        desktop_windows
      </span>
    </div>
    <div>
      <p>Device 3</p>
      <span>Status:Online</span>
    </div>
    <div>
      <span class="material-icons">
        info
      </span>
    </div>
  </div>
</div> -->
